* {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
}
.btn-container {
  display: flex;
  padding: 8px 15px;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 100px;
  height: 48px;
  background-color: #f2f2f2;
  border: 0.5px solid black;
  border-radius: 3px;
}
.btn1 {
  background-color: #81c784;
  width: 364px;
  height: 48px;
  border: 0.5px solid black;
  border-radius: 3px;
}
.btn2 {
  width: 496px;
  height: 48px;
  border: 0.5px solid black;
  border-radius: 3px;
}
.btn-r {
  width: 100px;
  height: 48px;
  background-color: #ff5050;
  border: none;
  border-radius: 3px;
}
.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.btn1:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}
.btn-r:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}
